<!DOCTYPE html>
<html>
    <head>
        <title>Testing?</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <form>
          user_name
          <input type="text" name="user_name"><br>
      </form>

    </body>
</html>
