<!DOCTYPE html>
<html>
    <head>
        <title>Testing?</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <% x = [1,2,3,5]   %>
        <% x.each do |num| %>
        <%  y = num * num %>
        <h1><%=  y  %></h1>
          <% end %>
    </body>
</html>
