<!DOCTYPE html>
<html>
    <head>
        <title>Testing?</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <form action="/greet" method="Post">
          Name
          <label for="user_name">Name:</label>
          <input type="text" name="user_name"><br>
          <input type="submit" value="Submit"/>
      </form>

    </body>
</html>
